 {% extends 'admin/base_admin.html' %}
  {% block content %}
   <div class="post">
   <div class="date text-muted">
   <p><em><h6>Create time:{{posts.book_add_date}}<h6></em></p>
  <a class="btn btn-default" href="{% url 'edit_book' pk=posts.pk %}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
  </div>
   <br>
  
   <h2>BOOK_ID:{{posts.bookId}}</h2>
   <p><em>BOOK_TITLE:</em>&nbsp&nbsp{{posts.bookInfo.title}}</p>
   <p><em>CATAGORYID:</em>&nbsp&nbsp {{posts.bookInfo.catagory.catagoryId}}&nbsp&nbsp<em>CATAGORY:</em>&nbsp&nbsp{{posts.bookInfo.catagory.name}}</p>
   <p><em>BOOK_STATE:</em>&nbsp&nbsp{{posts.state}}</p>
   <p><em>BOOK_AUTHOR:</em>&nbsp&nbsp{{posts.bookInfo.author}}</p>
   <p><em>BOOK_PUBLISHERID:</em>&nbsp&nbsp{{posts.bookInfo.publishingHouse.publisherId}}</p> 
   <p><em>BOOK_PUBLISHER:</em>&nbsp&nbsp{{posts.bookInfo.publishingHouse.name}}</p> 
   <p><em>BOOK_ISBN:</em>&nbsp&nbsp{{posts.bookInfo.ISBN}}</p>
   <p><em>BOOK_PHOTO:</em></p> 
   <br>
   <img src="{{ posts.bookInfo.book_image_URL }}" alt="{{posts.bookInfo.book_image_URL}}"></img>
   <p><em>BOOK_SUMMARY:</em>&nbsp&nbsp{{posts.bookInfo.introducton}}</p>
   <p><em>BOOK_LOCATIONID:</em>&nbsp&nbsp{{posts.bookLocation.locationId}}</p>
   <p><em>FLOOR:</em>&nbsp&nbsp{{posts.bookLocation.floor}}&nbsp <em>AREA:</em>&nbsp&nbsp {{posts.bookLocation.area}}</p>
   <p><em>AVAILABLEDAYS:</em>&nbsp&nbsp{{posts.availableDays}}</p>
   
   <hr>
   </div>
     {% endblock %}