 {% extends 'admin/base_admin.html' %}
 {% block account %}
	{{account}}
	{% endblock %}
  {% block content %}
  <h1>New/Edit FrontDeskLibrarian</h1>
         <form enctype="multipart/form-data" action="" method="post" onsubmit = "return checkform()">
		 <p><em>FrontDeskLibrarianID:</em>&nbsp&nbsp{{post.account}}</p>
		    {% csrf_token %}
       {{ form.as_p }}
   <button type="submit" class="save btn btn-primary"onclick="var id_tel=document.getElementById('id_tel'); 
if(!/^\d+$/.test(id_tel.value)) 
{ alert('Tel must be number!');id_tel.value='';}" >
Save</button>
        </form>
		
<script language="javascript" type="text/javascript"> 
function checkform(){

}
</script>
  {% endblock %}