 {% extends 'admin/base_admin.html' %}
 {% block account %}
	{{account1}}
	{% endblock %}
  {% block content %}
   <div class="post">
   <div class="date text-muted">
   <p><em><h6>Create time:{{faculty.member_add_date}}<h6></em></p>
  <a class="btn btn-default" href="{% url 'edit_faculty' pk=faculty.pk%}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
  <br>
    <p><em>Faculty_Photo:</em></p>
   <img src="{{ faculty.photo.url }}" alt="{{faculty.photo.url}}" width="100" height="100"></img>
  </div>
   <br>

   <h2>Faculty_Account:{{faculty.account}}
     <input type="button" id="bt" onclick="javascript:printpage('barCode')" class="save  btn btn-primary"  value="Print" title="Print the ID"/>
   </h2>
   <p><em>Faculty_Name:</em>&nbsp&nbsp{{faculty.name}}</p>
   <p><em>Faculty_Password:</em>&nbsp&nbsp******</p>
   <p><em>Faculty_Type:</em>&nbsp&nbsp{{faculty.type}}</p>
   <p><em>Faculty_Gender:</em>&nbsp&nbsp{{faculty.gender}}</p>
   <p><em>Faculty_Tel:</em>&nbsp&nbsp{{faculty.tel}}</p>
   <p><em>Faculty_School:</em>&nbsp&nbsp{{faculty.school}}</p>
   <p><em>Faculty_BookOwning:</em>&nbsp&nbsp{{faculty.bookOwning}}</p>
   <p><em>Faculty_Debt:</em>&nbsp&nbsp{{faculty.debt}}</p>
   <p><em>Faculty_DueDate:</em>&nbsp&nbsp{{faculty.dueDate}}</p>
   <p><em>Faculty_MaxBorrowedBooks:</em>&nbsp&nbsp{{faculty.maxBorrowedBooks}}</p>
   <p><em>Faculty_availableDays:</em>&nbsp&nbsp{{faculty.availableDays}}</p>
 <br>
  <div id="barCode" ><img src = 
  'https://www.zkalan.cn/barcode/html/image.php?filetype=PNG&dpi=300&scale=1&rotation=0&font_family=Arial.ttf&font_size=10&thickness=45&checksum=&code=BCGcode39&text={{faculty.account}}'></img>
  </div>
  <hr>

   </div>
<script language="javascript" type="text/javascript">
    function printpage(barCode){    
    //var newstr = document.all.item(barCode).innerHTML; 
    var newstr = document.getElementById(barCode).innerHTML;
    var oldstr = document.body.innerHTML; 
    document.body.innerHTML = newstr; 
    window.print(); 
    document.body.innerHTML = oldstr; 
    return false; 
    } 
	</script>
     {% endblock %}
