 {% extends 'stack/base_stack.html' %}

{% block account %}
	{{account}}
	{% endblock %}
{% block content %}

<div class="post">
   <br>
  
   <h2>BOOK_TITLE:{{bookInfo.title}}</h2>

   <p><em>BOOK_ISBN:</em>&nbsp&nbsp{{bookInfo.ISBN}}</p>
   <p><em>CATAGORYID:</em>&nbsp&nbsp {{bookInfo.catagory.catagoryId}}&nbsp&nbsp<em>CATAGORY:</em>&nbsp&nbsp{{bookInfo.catagory.name}}</p>
   <p><em>BOOK_AUTHOR:</em>&nbsp&nbsp{{bookInfo.author}}</p>
   <p><em>BOOK_PUBLISHER:</em>&nbsp&nbsp{{bookInfo.publishingHouse.name}}</p> 

   <p><em>BOOK_PHOTO:</em></p> 
   <img src="{{ bookInfo.book_image_URL }}" alt="{{bookInfo.book_image_URL}}" ></img>

   <br>
   <p><em>BOOK_SUMMARY:</em>&nbsp&nbsp{{bookInfo.introducton }}</p>
   
   <hr>
   </div>

<div>
<form action="" method="POST">
    <table class="table table-striped">

            <thead>
                <tr>
                    <th>Book_ID</th>
                    <th>Title</th>
                    <th>Location</th>
                    <th>State</th>
                    <th><center><input type="submit" value="PrintBC" class="save btn btn-primary"></center></th>
                </tr>
            </thead>
            
	        <tbody id="tab">

	        {% for book in results %}
                <tr>
                    <td><a href = "{% url 'booklist_detail_stack' bookId=book.bookId%}">{{book.bookId}}</a></td>
                    <td>{{bookInfo.title}}</td>
                    <td>{{book.location}}</td>
                    <td>{{book.state}}</td>
                    <td><center><input type="checkbox" name="bccb" value="{{book.bookId}}" checked="checked"></center></td>

                    <!--<td>
                        {% if book.state == 'in' %} in {% else %} out {% endif %}
                    </td>-->
                </tr>
           
            {% endfor %} 
			 </tbody>
    </table>
</form>
<div style="text-align:right;">
 <script type="text/javascript">
	function selectAll() {  
	var bccbs = document.getElementsByName("bccb");  
		for (var i=0; i < bccbs.length; i++) {  
		var bccb = bccbs[i];  
			bccb.checked = true;  
		}             
	}
	function deselectAll() {  
	var bccbs = document.getElementsByName("bccb");  
		for (var i=0; i < bccbs.length; i++) {  
		var bccb = bccbs[i];  
		bccb.checked = false;  
		}     
	} 
	function inverse() {  
	var bccbs = document.getElementsByName("bccb");  
	for (var i=0; i < bccbs.length; i++) {  
		var bccb = bccbs[i];  
		if(bccb.checked) {  
			bccb.checked = false;  
		}else {  
			bccb.checked = true;  
		}  
		}  
	}
</script>
 <button onclick="selectAll();" class="btn  btn-xs btn-primary">SelectAll</button>
 <button onclick="deselectAll();" class="btn  btn-xs btn-primary">DeSelectAll</button> 
 <button onclick="inverse();" class="btn  btn-xs btn-primary">Inverse</button>
 </div>
</div>

{% endblock %}