 {% extends 'stack/base_stack.html' %}
 {% block account %}
	{{account}}
	{% endblock %}
  {% block content %}
  <h1>Change Password</h1>
       <!-- change password -->
  <form action = "/do_changepassword_stack/" method="POST" onsubmit="return checkform()">

    <label>old password</label>
    <input name = "oldpassword" class="form-control" autofocus="autofocus" type="password" id="oldpassword"> <br>

	<p><font color="red">{{error_message}}</font></p>
    <lable> new password</lable>
    <input name = "newpassword1" class="form-control" type="password" id="newpassword1">
    <br>
    <lable>confirm new password</lable>
    <input name = "newpassword2" class="form-control" type="password" id="newpassword2">
	<br>
    <button class="btn  btn-primary btn-block" type="submit" style="width:100px;height=10px">confirm<tton>

</form>


<script type="text/javascript">
        function checkform(){
          if(document.getElementById('newpassword1').value.length == 0 || document.getElementById('newpassword2').value.length == 0){
            alert('please enter new password!');

            return false;
          }
          else{
              if(document.getElementById('newpassword1').value == document.getElementById('newpassword2').value){
                  return true;
              }
              else{
                  alert('new passwords do not match');
                  return false;
              }
          }
        }
</script>


  {% endblock %}
