 {% extends 'admin/base_admin.html' %}
 
 {% block account %}
	{{account}}
 {% endblock %}
 
  {% block content %}
   <div class="post">
   <div class="date text-muted">
   <p><em><h6>Create time:{{bookOnShelf.book_add_date}}<h6></em></p>
  <a class="btn btn-default" href="{% url 'edit_book' pk=bookOnShelf.pk %}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
 
  </div>
   <br>
    <h2>BOOK_ID:{{bookOnShelf.bookId}}
        <input type="button" id="bt" onclick="javascript:printpage('barCode')" class="save  btn btn-primary"  value="Print" title="Print the ID"/>
</h2>
   <p><em>BOOK_TITLE:</em>&nbsp&nbsp {{bookOnShelf.bookInfo.title}}</p>

   <p><em>CATAGORYID:</em>&nbsp&nbsp {{bookOnShelf.bookInfo.catagory.catagoryId}}&nbsp&nbsp<em>CATAGORY:</em>&nbsp&nbsp{{bookOnShelf.bookInfo.catagory.name}}</p>
   <p><em>BOOK_LOCATIONID:</em>&nbsp&nbsp{{bookOnShelf.bookLocation.locationId}}</p>
   <p><em>FLOOR:</em>&nbsp&nbsp{{bookOnShelf.bookLocation.floor}}&nbsp <em>AREA:</em>&nbsp&nbsp {{bookOnShelf.bookLocation.area}}</p>
   <p><em>BOOK_STATE:</em>&nbsp&nbsp{{bookOnShelf.state}}</p>
   <p><em>BOOK_AUTHOR:</em>&nbsp&nbsp{{bookOnShelf.bookInfo.author}}</p>
   <p><em>BOOK_PUBLISHER:</em>&nbsp&nbsp{{bookOnShelf.bookInfo.publishingHouse.name}}</p> 
   <p><em>BOOK_ISBN:</em>&nbsp&nbsp{{bookOnShelf.bookInfo.ISBN}}</p>
   <p><em>BOOK_PHOTO:</em></p> 
   <img src="{{ bookOnShelf.bookInfo.book_image_URL }}" alt="{{bookOnShelf.bookInfo.book_image_URL}}"></img>

   <br>
   <p><em>BOOK_SUMMARY:</em>&nbsp&nbsp{{bookOnShelf.bookInfo.introducton }}</p>
     <br>
  <div id="barCode" ><img src = 
  'https://www.zkalan.cn/barcode/html/image.php?filetype=PNG&dpi=300&scale=1&rotation=0&font_family=Arial.ttf&font_size=10&thickness=45&checksum=&code=BCGcode39&text={{bookOnShelf.bookId}}'></img>
  </div>
   <hr>
   </div>
    <script language="javascript" type="text/javascript">
    function printpage(barCode){    
    //var newstr = document.all.item(barCode).innerHTML; 
    var newstr = document.getElementById(barCode).innerHTML;
    var oldstr = document.body.innerHTML; 
    document.body.innerHTML = newstr; 
    window.print(); 
    document.body.innerHTML = oldstr; 
    return false; 
    } 
	</script>
     {% endblock %}